//TODO: вынести в переменные числовые значения

.button {
    padding: 24px 0;
    border-radius: 8px;
    width: 250px;

    text-align: center;
}

.dark {

}

.light {
    background-color: #FFFFFF;
}