.section {
  overflow: hidden;
  position: relative;
  //   scroll-snap-type: x mandatory;
}

.block {
  height: 100vh;
}

.img {
  height: auto;
  width: 100%;
  object-fit: cover;
  //   opacity: 80%;
  filter: brightness(60%);
}

.title {
  font-size: 45px;
}

.block2 {
  transform: translateY(100%);
}

.content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  color: white;
  top: 35%;
  gap: 10%;

  p {
    max-width: 500px;
  }
}

.buttons {
  display: flex;
}
