.section {
  position: sticky;
  top: 0;
  z-index: -1;
  height: 100vh;
}

.block {
  height: 100vh;
}

.img {
  height: auto;
  width: 100%;
  object-fit: cover;
  //   opacity: 80%;
  filter: brightness(60%);
}

.title {
  font-size: 45px;
}

.block2 {
  transform: translateY(100%);
}

.content {
  z-index: 2;
  position: relative;
  margin: 60px;
  transform: translateY(200px);
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.buttons {
  display: flex;
}
