.sections {
    overflow: hidden;
    height: 100vh;
    position: relative;
}

.container {
    display: flex;
    width: 400%; /* 100% × количество панелей */
    height: 100%;
  }

//   .bg {
//     width: 25%; /* 100% ÷ количество панелей */
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 2rem;
//     color: white;
//     font-weight: bold;
//   }

.title {
    font-size: 45px;
}

.containerBg {
    width: 100vw;
    height: 100vh;
}

.bg { 
    height: 100vh;
    width: 100%;
    filter: brightness(60%);
    opacity: 90%;
}

.block2 {
transform: translateY(100%);
}
  
  