@import "./vars";

@mixin mobile {
  @media (max-width: calc(#{$sm} - 1px)) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $sm) and (max-width: calc(#{$md} - 1px)) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $md) and (max-width: calc(#{$lg} - 1px)) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $lg) and (max-width: calc(#{$xl} - 1px)) {
    @content;
  }
}

@mixin wide {
  @media (min-width: $xxl) {
    @content;
  }
}

// todo: продумать размеры шрифтов
// может бытб лучше опираться на шрифт из body (rem)
// установить для body адаптивный шрифт
// на 2200 смотрится шрифт не очень

@mixin h2 {
  font-size: 35px;

  @include desktop {
    font-size: 35px;
    line-height: 1.3;
  }

  @include laptop {
    font-size: 28px;
  }

  @include tablet {
    font-size: 28px;
  }

  @include mobile {
    font-size: 25px;
  }
}

@mixin p {
  font-size: 18px;

  @include desktop {
    font-size: 18px;
    line-height: 1.5;
  }

  @include laptop {
    font-size: 16px;
  }

  @include tablet {
    font-size: 16px;
  }

  @include mobile {
    font-size: 14px;
  }
}

//   @mixin respond($from: false, $to: false) {
//     $query: '';

//     @if $from {
//       $query: '(min-width: #{$from})';
//     }

//     @if $to {
//       $query: $query + ( $query == '' ? '' : ' and ' ) + '(max-width: #{$to - 1})';
//     }

//     @if $query {
//       @media #{$query} {
//         @content;
//       }
//     }
//   }
